www-dtic-gema/assets/docs/blueprint.json
{
    "name": "dtic-GEMA_MAKE",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1776911,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 170,
                    "y": -205,
                    "name": "Receptor"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "webhook-dtic-gema"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "dni",
                        "type": "text"
                    },
                    {
                        "name": "carrera",
                        "type": "text"
                    },
                    {
                        "name": "sistema",
                        "type": "text"
                    },
                    {
                        "name": "descripcion",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5931596
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{3.email}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Agentes",
                "sortOrder": "asc",
                "spreadsheetId": "1gsRyE_cS0jPUR-UQUpIfQ674g3Ws08WnTY6Xbfcb69Q",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 161,
                    "y": 176,
                    "name": "Validador"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Agentes"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "dtic-GEMA_BD"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "connGoogleRMONLA (rmonla@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Email (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "DNI (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Rol (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Carrera (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 483,
                    "y": 169,
                    "name": "Derivador"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5931596
                            },
                            "filter": {
                                "name": "Usuario Encontrado",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{uuid}}",
                                    "1": "{{now}}",
                                    "2": "{{3.email}}",
                                    "5": "{{3.descripcion}}",
                                    "7": "\"Abierto\""
                                },
                                "sheetId": "Tickets",
                                "spreadsheetId": "/1uku9MpV7-QETXBnAy_2YdZR6_qknhhLM/1Bg1GfpiAThCDl_l0CT319YVncjPTeaab/1gsRyE_cS0jPUR-UQUpIfQ674g3Ws08WnTY6Xbfcb69Q",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 895,
                                    "y": -183,
                                    "name": "Escriba"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Tickets"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "26014_DiploIA_TPFI",
                                                "dtic-GEMA_FRLR",
                                                "dtic-GEMA_BD"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "ID_Ticket (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "Fecha (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "Email (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "Apellido_Nombre (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "Carrera (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "Consulta (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "Prioridad_IA (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Estado (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "connGoogleRMONLA (rmonla@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "ID_Ticket (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Fecha (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Email (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Apellido_Nombre (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "Carrera (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "Consulta (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "Prioridad_IA (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Estado (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\n    \"ticket_id\": \"{{ID_Ticket}}\",\n    \"mensaje\": \"Ticket creado exitosamente. Tu prioridad es normal.\"\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1234,
                                    "y": -192,
                                    "name": "Responder"
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "google-vertex-ai:createAMultimodalPrompt",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7056669
                            },
                            "filter": {
                                "name": "NO Encontrado",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "topP": "1",
                                "model": "gemini-2.5-flash",
                                "messages": [
                                    {
                                        "role": "user",
                                        "content": "Eres dtic-GEMA, la Asistente Virtual Inteligente de la Direccin de TIC de la UTN Facultad Regional La Rioja.\nTu identidad es femenina, profesional, emptica y altamente eficiente. No eres un simple bot; eres una entidad digital diseada para resolver problemas y facilitar la vida de alumnos y docentes.\nTUS OBJETIVOS:\n1. Recibir consultas de usuarios (Alumnos o Docentes).\n2. Validar su identidad (ya has recibido confirmacin de que existen en la BD).\n3. Responder con claridad, calidez y precisin tcnica.\n4. Generar confianza mediante un trato humano (\"Cyber-Empathy\").\nTU TONO DE VOZ:\n- Profesional pero cercano. Evita el lenguaje robtico estndar (\"Su consulta ha sido recibida\").\n- Usa frases como: \"He procesado tu solicitud\", \"Entiendo tu problema\", \"Estoy aqu para ayudarte\".\n- Muestra proactividad.\n- Usa negritas (Markdown) para resaltar datos importantes como Nmeros de Ticket o Pasos a seguir.\nRESTRICCIONES:\n- Nunca inventes informacin. Si no conoces la respuesta, indica que derivars el caso a un \"soporte humano especializado\".\n- S concisa. Nadie quiere leer muros de texto.\n- Siempre firma como: \"dtic-GEMA | Asistente Virtual\"."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Datos del Usuario:\n- Email: {{3.email}}\n- DNI: {{3.dni}}\n- Consulta Original: {{3.descripcion}}\nInstruccin:\nResponde a este usuario confirmando que su ticket ha sido generado. Analiza su consulta y dale una respuesta preliminar o indcale los tiempos de espera."
                                    }
                                ],
                                "projectId": "dtic-gema-gproy",
                                "temperature": "0.9",
                                "responseMimeType": "text/plain",
                                "serviceEndpointLocationId": "us-central1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 897,
                                    "y": 165,
                                    "name": "Orquestador"
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini 2.5 Flash",
                                            "nested": [
                                                {
                                                    "name": "tools",
                                                    "type": "select",
                                                    "label": "Tools",
                                                    "options": [
                                                        {
                                                            "label": "Function Declarations",
                                                            "value": "functionDeclarations",
                                                            "nested": [
                                                                {
                                                                    "name": "functionDeclarations",
                                                                    "spec": [
                                                                        {
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Function Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "description",
                                                                            "type": "text",
                                                                            "label": "Function Description",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "Configuration of the parameters that the function accepts.",
                                                                            "name": "parameters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    "rpc://google-vertex-ai/1/parametersGeminiFunctionParameters"
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Parameter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Parameters",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "array",
                                                                    "label": "Function Declarations"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Grounding",
                                                            "value": "grounding",
                                                            "nested": [
                                                                "rpc://google-vertex-ai/1/parametersGrounding"
                                                            ]
                                                        }
                                                    ],
                                                    "advanced": true
                                                }
                                            ]
                                        },
                                        "tools": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "files": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "files": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            ]
                                        },
                                        "projectId": {
                                            "mode": "chose",
                                            "label": "dtic-GEMA-GProy"
                                        },
                                        "stopSequences": {
                                            "mode": "chose"
                                        },
                                        "safetySettings": {
                                            "mode": "chose"
                                        },
                                        "responseMimeType": {
                                            "label": "Text"
                                        },
                                        "serviceEndpointLocationId": {
                                            "mode": "chose",
                                            "label": "Iowa"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-vertex-ai"
                                            },
                                            "label": "My Google Gemini (Vertex AI) connection (rmonla@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-vertex-ai",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "projectId",
                                        "type": "select",
                                        "label": "GCP Project",
                                        "required": true
                                    },
                                    {
                                        "name": "serviceEndpointLocationId",
                                        "type": "select",
                                        "label": "Region",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "us-central1",
                                                "us-west4",
                                                "northamerica-northeast1",
                                                "us-east4",
                                                "us-west1",
                                                "europe-west1",
                                                "europe-west3",
                                                "europe-west2",
                                                "europe-west4",
                                                "europe-west9",
                                                "asia-northeast3",
                                                "asia-southeast1",
                                                "asia-northeast1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "User",
                                                            "value": "user",
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "model"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Text Content",
                                                    "required": true
                                                },
                                                {
                                                    "name": "files",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "fileType",
                                                                "type": "select",
                                                                "label": "File Type",
                                                                "options": [
                                                                    {
                                                                        "label": "Image",
                                                                        "value": "image",
                                                                        "nested": [
                                                                            {
                                                                                "name": "inputType",
                                                                                "type": "select",
                                                                                "label": "Image Input Method",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Upload a File",
                                                                                        "value": "upload",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "fileName",
                                                                                                "type": "filename",
                                                                                                "label": "File Name",
                                                                                                "required": true,
                                                                                                "semantic": "file:name",
                                                                                                "extension": [
                                                                                                    "png",
                                                                                                    "jpeg",
                                                                                                    "jpg",
                                                                                                    "webp",
                                                                                                    "heic",
                                                                                                    "heif"
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "buffer",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "File URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "The file extension/format.",
                                                                                                "name": "mime",
                                                                                                "type": "select",
                                                                                                "label": "MIME Type",
                                                                                                "options": [
                                                                                                    {
                                                                                                        "label": "PNG",
                                                                                                        "value": "png"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "JPG",
                                                                                                        "value": "jpg"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "JPEG",
                                                                                                        "value": "jpeg"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "WEBP",
                                                                                                        "value": "webp"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "HEIC",
                                                                                                        "value": "heic"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "HEIF",
                                                                                                        "value": "heif"
                                                                                                    }
                                                                                                ],
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                                "name": "file_uri",
                                                                                                "type": "text",
                                                                                                "label": "File URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Video",
                                                                        "value": "video",
                                                                        "nested": [
                                                                            {
                                                                                "name": "inputType",
                                                                                "type": "select",
                                                                                "label": "Video Input Method",
                                                                                "default": "uri",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Upload a File",
                                                                                        "value": "upload",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "fileName",
                                                                                                "type": "filename",
                                                                                                "label": "File Name",
                                                                                                "required": true,
                                                                                                "semantic": "file:name"
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "buffer",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "File URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "The file extension/format.",
                                                                                                "name": "mime",
                                                                                                "type": "select",
                                                                                                "label": "MIME Type",
                                                                                                "options": [
                                                                                                    {
                                                                                                        "label": "MP4",
                                                                                                        "value": "mp4"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "MPG",
                                                                                                        "value": "mpg"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "MPEG",
                                                                                                        "value": "mpeg"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "MOV",
                                                                                                        "value": "mov"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "AVI",
                                                                                                        "value": "avi"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "FLV",
                                                                                                        "value": "x-flv"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "WEBM",
                                                                                                        "value": "webm"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "WMV",
                                                                                                        "value": "wmv"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "3GPP",
                                                                                                        "value": "3gpp"
                                                                                                    }
                                                                                                ],
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                                "name": "file_uri",
                                                                                                "type": "text",
                                                                                                "label": "File URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Audio",
                                                                        "value": "audio",
                                                                        "nested": [
                                                                            {
                                                                                "name": "inputType",
                                                                                "type": "select",
                                                                                "label": "Audio Input Method",
                                                                                "default": "uri",
                                                                                "options": [
                                                                                    {
                                                                                        "label": "Upload a File",
                                                                                        "value": "upload",
                                                                                        "nested": [
                                                                                            {
                                                                                                "name": "fileName",
                                                                                                "type": "filename",
                                                                                                "label": "File Name",
                                                                                                "required": true,
                                                                                                "semantic": "file:name"
                                                                                            },
                                                                                            {
                                                                                                "name": "data",
                                                                                                "type": "buffer",
                                                                                                "label": "Data",
                                                                                                "required": true,
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ]
                                                                                    },
                                                                                    {
                                                                                        "label": "File URL",
                                                                                        "value": "uri",
                                                                                        "nested": [
                                                                                            {
                                                                                                "help": "The file extension/format.",
                                                                                                "name": "mime",
                                                                                                "type": "select",
                                                                                                "label": "MIME Type",
                                                                                                "options": [
                                                                                                    {
                                                                                                        "label": "WAV",
                                                                                                        "value": "wav"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "MP3",
                                                                                                        "value": "mp3"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "AIFF",
                                                                                                        "value": "aiff"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "AAC",
                                                                                                        "value": "aac"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "OGG Vorbis",
                                                                                                        "value": "ogg"
                                                                                                    },
                                                                                                    {
                                                                                                        "label": "FLAC",
                                                                                                        "value": "flac"
                                                                                                    }
                                                                                                ],
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "help": "The URL must be publicly accessible. To test this, you can try opening the URL in an anonymous tab. It must take you directly to the file.\nEnsure that the URL is not restricted from automated access. This can involve external platform settings, proxy bot-blocking, and robots.txt configuration.",
                                                                                                "name": "file_uri",
                                                                                                "type": "text",
                                                                                                "label": "File URL",
                                                                                                "required": true
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ],
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true,
                                                                "validate": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File"
                                                    },
                                                    "type": "array",
                                                    "label": "Files",
                                                    "labels": {
                                                        "add": "Add file"
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "maxOutputTokens",
                                        "type": "uinteger",
                                        "label": "Max Output Tokens",
                                        "validate": {
                                            "max": 8192,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "topK",
                                        "type": "uinteger",
                                        "label": "Top-k",
                                        "validate": {
                                            "max": 40,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "topP",
                                        "type": "number",
                                        "label": "Top-p",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "stopSequences",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 5
                                        }
                                    },
                                    {
                                        "name": "responseMimeType",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "category",
                                                    "type": "select",
                                                    "label": "Safety Category",
                                                    "options": [
                                                        {
                                                            "label": "Sexually Explicit",
                                                            "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                        },
                                                        {
                                                            "label": "Hate Speech",
                                                            "value": "HARM_CATEGORY_HATE_SPEECH"
                                                        },
                                                        {
                                                            "label": "Harassment",
                                                            "value": "HARM_CATEGORY_HARASSMENT"
                                                        },
                                                        {
                                                            "label": "Dangerous Content",
                                                            "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "threshold",
                                                    "type": "select",
                                                    "label": "Threshold",
                                                    "options": [
                                                        {
                                                            "label": "Block None",
                                                            "value": "BLOCK_NONE"
                                                        },
                                                        {
                                                            "label": "Block Low and Above",
                                                            "value": "BLOCK_LOW_AND_ABOVE"
                                                        },
                                                        {
                                                            "label": "Block Medium and Above",
                                                            "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                        },
                                                        {
                                                            "label": "Block High and Above",
                                                            "value": "BLOCK_ONLY_HIGH"
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Safety Setting"
                                        },
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "select",
                                        "label": "Tools",
                                        "validate": {
                                            "enum": [
                                                "functionDeclarations",
                                                "grounding"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "predictions",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "candidates",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "spec": [
                                                                    {
                                                                        "name": "role",
                                                                        "type": "text",
                                                                        "label": "Role"
                                                                    },
                                                                    {
                                                                        "name": "parts",
                                                                        "spec": [
                                                                            {
                                                                                "name": "text",
                                                                                "type": "text",
                                                                                "label": "Text"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Parts"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "finishReason",
                                                                "type": "text",
                                                                "label": "Finish Reason"
                                                            },
                                                            {
                                                                "name": "safetyRatings",
                                                                "spec": {
                                                                    "spec": [
                                                                        {
                                                                            "name": "category",
                                                                            "type": "text",
                                                                            "label": "Category"
                                                                        },
                                                                        {
                                                                            "name": "probability",
                                                                            "type": "text",
                                                                            "label": "Probability"
                                                                        },
                                                                        {
                                                                            "name": "probabilityScore",
                                                                            "type": "number",
                                                                            "label": "Probability Score"
                                                                        },
                                                                        {
                                                                            "name": "severity",
                                                                            "type": "text",
                                                                            "label": "Severity"
                                                                        },
                                                                        {
                                                                            "name": "severityScore",
                                                                            "type": "number",
                                                                            "label": "Severity Score"
                                                                        }
                                                                    ],
                                                                    "type": "collection"
                                                                },
                                                                "type": "array",
                                                                "label": "Safety Ratings"
                                                            },
                                                            {
                                                                "name": "groundingMetadata",
                                                                "spec": [
                                                                    {
                                                                        "name": "webSearchQueries",
                                                                        "spec": {
                                                                            "type": "text"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Web Search Queries"
                                                                    },
                                                                    {
                                                                        "name": "searchEntryPoint",
                                                                        "type": "collection",
                                                                        "label": "Search Entry Point"
                                                                    },
                                                                    {
                                                                        "name": "groundingChunks",
                                                                        "spec": {
                                                                            "type": "collection"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Grounding Chunks"
                                                                    },
                                                                    {
                                                                        "name": "groundingSupports",
                                                                        "spec": {
                                                                            "type": "collection"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Grounding Supports"
                                                                    },
                                                                    {
                                                                        "name": "retrievalMetadata",
                                                                        "spec": [],
                                                                        "type": "collection",
                                                                        "label": "Retrieval Metadata"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Grounding Metadata"
                                                            }
                                                        ],
                                                        "type": "collection"
                                                    },
                                                    "type": "array",
                                                    "label": "Candidates"
                                                },
                                                {
                                                    "name": "usageMetadata",
                                                    "spec": [
                                                        {
                                                            "name": "promptTokenCount",
                                                            "type": "number",
                                                            "label": "Prompt Token Count"
                                                        },
                                                        {
                                                            "name": "candidatesTokenCount",
                                                            "type": "number",
                                                            "label": "Candidates Token Count"
                                                        },
                                                        {
                                                            "name": "totalTokenCount",
                                                            "type": "number",
                                                            "label": "Total Token Count"
                                                        },
                                                        {
                                                            "name": "promptTokensDetails",
                                                            "spec": [
                                                                {
                                                                    "name": "modality",
                                                                    "type": "text",
                                                                    "label": "Modality"
                                                                },
                                                                {
                                                                    "name": "tokenCount",
                                                                    "type": "number",
                                                                    "label": "Token Count"
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "Prompt Tokens Details"
                                                        },
                                                        {
                                                            "name": "candidatesTokensDetails",
                                                            "spec": [
                                                                {
                                                                    "name": "modality",
                                                                    "type": "text",
                                                                    "label": "Modality"
                                                                },
                                                                {
                                                                    "name": "tokenCount",
                                                                    "type": "number",
                                                                    "label": "Token Count"
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "Candidates Tokens Details"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Usage Metadata"
                                                },
                                                {
                                                    "name": "modelVersion",
                                                    "type": "text",
                                                    "label": "Model Version"
                                                },
                                                {
                                                    "name": "createTime",
                                                    "type": "date",
                                                    "label": "Create Time"
                                                },
                                                {
                                                    "name": "responseId",
                                                    "type": "text",
                                                    "label": "Response ID"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Predictions"
                                    },
                                    {
                                        "name": "textResponse",
                                        "type": "text",
                                        "label": "Text Response"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\n              \"error\": \"No ests registrado en la base de alumnos. Contacta a bedelia.\"\n            }",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1238,
                                    "y": 158,
                                    "name": "Responder"
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}